@charset "UTF-8";

h1,h2{
    font-family: "ROLAchan";
}
@font-face {
    font-family: "ROLAchan";
    src: url(../fonts/ROLAchan-Regular.otf);
}

.top{
    background-image: url(../img/top.png);
    background-size: cover;
}