@charset "UTF-8";

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-title{
  font-size: 1.5rem;
}

.bg-green{
  background-color: #e3fcf4;
}

.form-register{
  border: solid 3px #d8d8d8;
  border-radius: 999px;
}

.btn-register{
  margin: auto;
  display: block
}

#top{
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
}
